body { 
	font-family : Verdana, Geneva, sans-serif;
	font-size:100%;
	background-color : white;
	color : black; }
p {
	font-size:.8em;
	background-color : white;
	color : black; 
}

PRE{
	font-size:.8em;
	background-color : white;
	color : black; 
	}
 h1 { 
 	font-family : Verdana, Geneva, sans-serif;
	font-size : 1.5em;
	color : black; }

 h2 { 
 	font-family : Verdana, Geneva, sans-serif;
	font-size : 1.12em;
	color : black; }

 h3 { 
 	font-family : Verdana, Geneva, sans-serif;
	font-size : .9 em;
	color : black; }

ol li {
	font-size: .8em;
	margin-top: 4px;
	margin-bottom: 10px;
}

ul li {
	font-size: .8em;
	margin-top: 4px;
	margin-bottom: 4px;
}

table, th, td
{
border: 1 solid black;
border-collapse:collapse;
}

table {

text-align: left; 
width: 100%;

}


th  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:1em;
	background-color: #E0E5EB;

	color : black; 
	padding:8px;}

#th2  {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:0.825em;
	background-color:#F0F8FF;
	color : black; 
	padding:8px;}

td {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size:0.825em;
	color : black;
	padding-left:5px;
	padding-top:8px;
	padding-bottom:8px;
 }

#helpul
{
font-family : Verdana, Geneva, sans-serif;	
list-style:none;
	font-size: 1em;
	margin-top: 0;
	margin-left:0;
	padding-left: 0;
}

#helph2 { 
 	font-family : Verdana, Geneva, sans-serif;
	font-size : 1.12em;
	color : black;
	margin-bottom: 4px;
 }

#typed
{
	font-size: 1em;
	font-family :"Courier New", Courier, monospace;
} 

#button
{
	font-size: 1em;
	Arial, Helvetica, sans-serif;
} 

 A:link { color : blue; }

 A:visited { color : purple; }

 A:active { color : navy; }


Microsoft HTML Help Compiler 4.74.8702

Compiling d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm


Compile time: 0 minutes, 0 seconds
25	Topics
91	Local links
0	Internet links
0	Graphics


Created d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm, 32,582 bytes
Compression decreased file by 21,497 bytes.
Microsoft HTML Help Compiler 4.74.8702

Compiling d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm


Compile time: 0 minutes, 0 seconds
25	Topics
91	Local links
0	Internet links
0	Graphics


Created d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm, 32,786 bytes
Compression decreased file by 21,689 bytes.
Microsoft HTML Help Compiler 4.74.8702

Compiling d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm


Compile time: 0 minutes, 0 seconds
25	Topics
91	Local links
0	Internet links
0	Graphics


Created d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm, 32,788 bytes
Compression decreased file by 22,082 bytes.
Microsoft HTML Help Compiler 4.74.8702

Compiling d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm


Compile time: 0 minutes, 0 seconds
25	Topics
91	Local links
0	Internet links
0	Graphics


Created d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm, 31,910 bytes
Compression decreased file by 22,269 bytes.
Microsoft HTML Help Compiler 4.74.8702

Compiling d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm


Compile time: 0 minutes, 0 seconds
27	Topics
101	Local links
1	Internet link
0	Graphics


Created d:\Users\Sofia\My Documents\Sof's Stuff\Work\Painless Security\LeashHelp\LeashHelp.chm, 35,830 bytes
Compression decreased file by 23,905 bytes.
